<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../public/css.ejs") %>
    <title>Fantastic Beasts</title>
  </head>
  <body>
    <header>
      <h1>Fantastic Beasts & Where to Find Them</h1>
      <nav>
        <a href="/animals/new">Add a Beast</a>
      </nav>
    </header>
    <div id="animals-container">
      <% animals.forEach(animal => { %>
      <a href="/animals/<%= animal._id %>">
        <div id="one-animal">
          <h2><%= animal.species %></h2>
        </div>
      </a>
      <% }) %>
    </div>
  </body>
</html>
